#sec4
{
  height: var(--sm);
  background-color: #112;
  /* clip-path : polygon(0% 100%,0% 10%,25% 3%,50% 0%,75% 3%,100% 10%,100% 100%);   */
  clip-path : ellipse(100% 70% at 50% 70%);
  padding: 100px;
}

.center-block
{
  display: block;
  width: 60%;
  margin: auto;
}


.galory-component
{
  padding: 20px;
  margin: 20px 0;
  background-color: #222;
}

.galory-component a
{
  text-decoration: none;
  color: blue;
}

.galory-component a:hover
{
  color: white;
}
